name: Modal from Actions

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install modal-client
    - name: Run script
      run: |
        modal token set --token-id ${{ secret.MODAL_TOKEN_ID }} --token-secret ${{ secret.MODAL_TOKEN_SECRET }}
        modal run main.py